@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";
@import "quill/dist/quill.snow.css";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-mona: "Mona Sans", sans-serif;
}

.ql-toolbar.ql-snow {
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: "Mona Sans", sans-serif;
    padding: 8px;
    border-radius: 6px 6px 0 0;
    background-color: white;
}

/* container sintak code */
.ql-code-block-container {
    margin: 20px 0 !important;
    border-radius: 8px;
    padding: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

/* bari sintak code */
.ql-code-block {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    font-size: 12px;
    padding: 8px 18px;
    line-height: 1;
    white-space: pre-wrap;
    word-break: break-all;
    background-color: #2d2d2d;
    color: #f8f8f2;
}

/* Menghilangkan border dan gaya tidak perlu dari Quill bawaan */
.ql-code-block-container .ql-code-block:last-child {
    border-bottom: none;
}

.ql-editor p {
    margin: 0;
    line-height: 1.5;
}

.ql-editor ol {
    margin: 0;
}

.prose p,
.prose ol,
li {
    line-height: 1.5;
    margin: 0;
}

.prose h2,
h3 {
    margin: 0;
}

.prose p br {
    line-height: 0.1;
    margin: 0;
}
